pokematch-complete/assets/images/sprites/diamond-pearl
pokematch-complete/assets/images/sprites/heartgold-soulsilver
pokematch-complete/assets/images/sprites/platinum
pokematch-skeleton/assets/images/sprites/diamond-pearl
pokematch-skeleton/assets/images/sprites/heartgold-soulsilver
pokematch-skeleton/assets/images/sprites/platinum